* { box-sizing: border-box; }

.pic{
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;

  background:
    radial-gradient(circle at 50% 60%,
      #dfe8ff 0%,
      #b7c9ff 38%,
      #6e86ee 70%,
      #4a66e4 100%);
  border: 1px solid rgba(30, 55, 150, 0.35);
}

.mushroom{
  position: absolute;
  width: 110px;
  height: 120px;
  --stem: #d2cbc7;
  --stem-stroke: #48060d;
}

.mushroom::before{ /*шляпка*/
  content: "";
  position: absolute;
  left: 6px;
  top: 0;
  width: 98px;
  height: 52px;
  border-radius: 999px 999px 0 0;
  border: 1px solid var(--cap-stroke);
  overflow: hidden;
  z-index: 7;


  background:
    radial-gradient(circle at 60% 30%,
      rgba(255,255,255,0.85) 0%,
      rgba(255,255,255,0.35) 45%,
      rgba(255,255,255,0) 65%),
    linear-gradient(#5d1e1a, #5d1e1a);
}

.mushroom::after{ /*ножка*/
  content: "";
  position: absolute;
  left: 37px;
  top: 31px;
  width: 34px;
  height: 76px;
  background: var(--stem);
  border: 2px solid var(--stem-stroke);
  border-radius: 50%;
  z-index: 6;
}

.mushroom.big{ /* весь большой гриб */
  left: -2px;
  bottom: 8px;
  transform: none;
  z-index: 9;
}

.mushroom.small{ /* весь мелкий гриб */
  transform-origin: 50% 100%;
  transform: rotate(35deg) scale(0.69);
  z-index: 10;
  bottom: 17px;
  left: 19px;
}

.peak{
  position: absolute;
  width: 72px;
  height: 42px;
}

.peak::before{
  content: "";
  position: absolute;
  inset: 0;
  background: #00ff01;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.p1{ left: 0px; bottom: 7px; z-index: 10; }
.p2{ left: 45px; bottom: 7px; z-index: 11; }
.p3{ left: 85px; bottom: 7px; z-index: 12; }
.p4{ left: 125px; bottom: 7px; z-index: 13; }

.bee{
  position: absolute;
  left: 73px;
  top: 39px;
  width: 90px;
  height: 60px;
  z-index: 19;
}

.bee .body{
  position: absolute;
  left: 38px;
  top: 26px;
  width: 46px;
  height: 18px;
  background: #ffd400;
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 50%;
  transform: rotate(-30deg);
  z-index: 3;
}

.bee .head{
  position: absolute;
  left: 32px;
  top: 42px;
  width: 15px;
  height: 15px;
  background: #ffd400;
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 50%;
  z-index: 4;
}

.bee .head::before,
.bee .head::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
}

.bee .head::before{top: 7px; left: 7px; }
.bee .head::after {top: 3px; left: 3px; }

.bee .wing{
  position: absolute;
  z-index: 1; 
}

.bee .wing::before,
.bee .wing::after{
  content: "";
  position: absolute;
  width: 32px;
  height: 12px;
  background: #6983f9;
  border: 2px solid;
  border-color: #4660c6;
  border-radius: 50%;
}

.bee .wing.w1::before{
  left: 40px;
  top: 2px;
  transform: rotate(90deg);
}
.bee .wing.w1::after{
  left: 24px;
  top: 12px;
  transform: rotate(30deg);
}

.bee .wing.w2::before{
  left: 63px;
  top: 41px;
  transform: rotate(40deg);
}
.bee .wing.w2::after{
  left: 53px;
  top: 48px;
  transform: rotate(-100deg);
}

