
    .canvas-area {
      position: relative;
      width: 100%;
      height: 500px;
      background-color: #1a2649;
      border: 2px dashed rgba(255, 255, 255, 0.2);
      border-radius: 12px;
      overflow: hidden;
      margin-top: 20px;
    }

    .draggable {
      position: absolute;
      cursor: grab;
      transition: transform 0.1s;
      z-index: 10;
    }
    
    .draggable:active {
      cursor: grabbing;
      transform: scale(1.05);
      z-index: 1000;
    }

    .shape-house-body {
      width: 100px;
      height: 100px;
      background-color: #c62828;
      left: 20px;
      top: 50px;
    }

    .shape-roof {
      width: 0;
      height: 0;
      border-left: 68px solid transparent;
      border-right: 68px solid transparent;
      border-bottom: 85px solid #630b0b; 
      
      left: 150px;
      top: 30px;
    }

    .shape-roof::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-bottom: 77px solid #8d6e63;
      
      left: -60px; 
      top: 4px;
    }

    .shape-window {
      width: 44px;
      height: 44px;
      background-color: #b3e5fc;
      border: 4px solid #0288d1;
      box-sizing: border-box;
      left: 30px;
      top: 200px;
    }

    .shape-window::before {
      content: '';
      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #0288d1;
    }

    .shape-window::after {
      content: '';
      position: absolute;
      top: 30%;
      bottom: 0;
      left: 50%;
      width: 4px;
      transform: translateX(-50%);
      background-color: #0288d1;
    }

    .shape-trunk {
      width: 30px;
      height: 50px;
      background-color: #5d4037;
      left: 300px;
      top: 250px;
    }

    .shape-tree-1 {
      width: 0;
      height: 0;
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      border-bottom: 90px solid #2e7d32;
      left: 250px;
      top: 50px;
    }

    .shape-tree-2 {
      width: 0;
      height: 0;
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
      border-bottom: 70px solid #43a047;
      left: 350px;
      top: 150px;
    }

    .shape-tree-3 {
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 50px solid #76ff03;
      left: 400px;
      top: 40px;
    }

    .hint-block {
      background: rgba(18,28,56,.40);
      padding: 15px;
      border-radius: 12px;
      margin-bottom: 15px;
    }